# yFinance and FinTA Intro

In [1]:
# import packages 
import numpy as np
import pandas as pd
import seaborn as s
import finta as f
import yfinance as yf

In [2]:
# example ticker from API
msft = yf.Ticker("MSFT")
print(msft)

# get stock info
msft.info

# get historical market data, here max is 5 years.
Data = msft.history()
cols = ['Open', 'High', 'Low', 'Close']
Data = Data[cols]
Data.head()

yfinance.Ticker object <MSFT>

                  Open        High         Low       Close
Date
2022-06-15  248.309998  255.300003  246.419998  251.759995
2022-06-16  245.979996  247.419998  243.020004  244.970001
2022-06-17  244.699997  250.500000  244.029999  247.649994
2022-06-21  250.259995  254.750000  249.509995  253.740005
2022-06-22  251.889999  257.170013  250.369995  253.130005

In [3]:
type(Data)

pandas.core.frame.DataFrame

In [4]:
Data.dtypes

Open     float64
High     float64
Low      float64
Close    float64
dtype: object

In [7]:
f.TA.SMA(Data, 20)

Date
2022-06-15           NaN
2022-06-16           NaN
2022-06-17           NaN
2022-06-21           NaN
2022-06-22           NaN
2022-06-23           NaN
2022-06-24           NaN
2022-06-27           NaN
2022-06-28           NaN
2022-06-29           NaN
2022-06-30           NaN
2022-07-01           NaN
2022-07-05           NaN
2022-07-06           NaN
2022-07-07           NaN
2022-07-08           NaN
2022-07-11           NaN
2022-07-12           NaN
2022-07-13           NaN
2022-07-14    258.297501
Name: 20 period SMA, dtype: float64